## Implementation Section

In [4]:
import pandas as pd

holidays_df = pd.read_csv("holidays_df.csv", sep=",")
holidays_df.head()

,date,logistieke location id,crop_type,fpc_index,3_avg_price_per_item,3_total_items_sold,3_total_package,3_total_revenue,3_total_transactions,4_avg_price_per_item,...,1_total_revenue,1_total_transactions,5_avg_price_per_item,5_total_items_sold,5_total_package,5_total_revenue,5_total_transactions,trolleys,total_issued,total_returned
0,2021-01-04,Aalsmeer,BL,fpc_1,0.21,17510.0,273.0,3683.38,48.0,0.26,...,18960.20,717.0,0.24,312850.0,4770.0,76058.00,1237.0,287,621375.0,771606.0
1,2021-01-04,Naaldwijk,BL,fpc_1,0.00,0.0,0.0,0.00,0.0,0.00,...,5483.50,227.0,0.26,110970.0,1762.0,29005.80,553.0,106,621375.0,771606.0
2,2021-01-04,Rijnsburg,BL,fpc_1,0.00,0.0,0.0,0.00,0.0,0.00,...,4349.40,167.0,0.26,50810.0,786.0,13353.90,302.0,51,621375.0,771606.0
3,2021-01-04,Aalsmeer,BL,fpc_10,0.27,4250.0,59.0,1146.50,13.0,0.27,...,18427.65,674.0,0.20,356840.0,4085.0,71239.65,1114.0,191,621375.0,771606.0
4,2021-01-04,Naaldwijk,BL,fpc_10,0.00,0.0,0.0,0.00,0.0,0.00,...,7674.80,292.0,0.19,239939.0,2952.0,45257.18,918.0,138,621375.0,771606.0

In [6]:
holidays_df["date"] = pd.to_datetime(holidays_df["date"])

In [7]:
holidays_df = holidays_df.sort_values(["logistieke location id", "crop_type", "fpc_index", "date"])

In [8]:
Z = holidays_df.columns[4:25].tolist()  # replace with your actual columns
lags = [1, 2, 3, 8, 20, 50]

In [11]:
lagged_cols = {}

g = holidays_df.groupby(["logistieke location id", "crop_type", "fpc_index"], observed=True)

for lag in lags:
    shifted = g[Z].shift(lag)
    shifted.columns = [f"{col}_lag_{lag}" for col in Z]
    lagged_cols[lag] = shifted

In [12]:
lagged_df = pd.concat(lagged_cols.values(), axis=1)
holidays_df = pd.concat([holidays_df, lagged_df], axis=1)

In [15]:
holidays_df.head()

,3_avg_price_per_item_lag_1,3_total_items_sold_lag_1,3_total_package_lag_1,3_total_revenue_lag_1,3_total_transactions_lag_1,4_avg_price_per_item_lag_1,4_total_items_sold_lag_1,4_total_package_lag_1,4_total_revenue_lag_1,4_total_transactions_lag_1,...,1_avg_price_per_item_lag_50,1_total_items_sold_lag_50,1_total_package_lag_50,1_total_revenue_lag_50,1_total_transactions_lag_50,5_avg_price_per_item_lag_50,5_total_items_sold_lag_50,5_total_package_lag_50,5_total_revenue_lag_50,5_total_transactions_lag_50
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,0.21,17510.0,273.0,3683.38,48.0,0.26,46140.0,652.0,11825.70,142.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139,0.21,46610.0,496.0,9828.70,63.0,0.27,190777.0,2591.0,51743.52,903.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
209,0.27,26570.0,327.0,7231.00,39.0,0.27,100925.0,1211.0,27150.00,378.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
279,0.24,22570.0,250.0,5437.70,22.0,0.31,74377.0,1203.0,23223.84,487.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
holidays_df.to_csv("laggedholidays_df.csv", index=False)