## Loading libraries and the data sets

In [1]:
import pandas as pd
from pandas.tseries.offsets import BDay
import numpy as np

In [2]:
df_auc = pd.read_csv("df_auction_to2024.csv", sep=";")
df_auc.head()

,date,logistieke location id,crop_type,fpc_index,cropgroupcode_coded,productgroupcode_coded,country of origin iso,sales value id,total_transactions,total_items_sold,total_package,total_revenue,avg_price_per_item
0,2021-05-25,3,BL,fpc_23,19,45,NL,5,218,16860,493.0,10994.70,0.65
1,2021-02-05,3,BL,fpc_27,122,211,NL,5,1557,1847980,12404.0,388688.80,0.21
2,2021-08-02,3,BL,fpc_23,32,67,KE,5,79,47125,656.0,10694.75,0.23
3,2021-05-14,3,BL,fpc_23,41,80,NL,5,236,38680,627.0,18026.90,0.47
4,2021-03-12,1,BL,fpc_24,11,27,NL,5,499,20424,1673.0,17598.28,0.86

In [3]:
df_dir = pd.read_csv("df_direct_to2024.csv", sep=";")
df_dir.head()

,date,logistieke location id,crop_type,fpc_index,cropgroupcode_coded,productgroupcode_coded,country of origin iso,sales value id,total_transactions,total_items_sold,total_package,total_revenue,avg_price_per_item
0,2021-11-10,NaN,PL,fpc_8,319,480,NL,4,432,16463,1291.0,43189.32,2.62
1,2021-03-29,NaN,PL,fpc_7,600,824,NL,4,246,3847,2637.0,63031.20,16.38
2,2022-07-11,NaN,BL,fpc_6,119,193,NL,4,80,108390,991.0,26821.05,0.25
3,2021-01-26,NaN,BL,fpc_13,6,15,NL,4,5066,1192334,13934.0,195380.07,0.16
4,2022-11-16,NaN,PL,fpc_18,380,564,NL,4,231,8004,1042.0,16564.46,2.07

In [4]:
df_fust = pd.read_csv("df_fust_to2024.csv", sep=";")
df_fust.head()

         Date fustcode  number_received  number_issued
0  2021-01-02    Fc153              0.0            6.0
1  2021-01-02    Fc180              0.0            1.0
2  2021-01-02    Fc206              0.0          150.0
3  2021-01-02    Fc251              0.0          300.0
4  2021-01-02    Fc266              0.0          300.0

In [5]:
df_trol = pd.read_csv("df_trolley_to2024.csv", sep=";")
df_trol.head()

,auctiondate,location,crop_type,fpc_1,fpc_2,fpc_3,fpc_4,fpc_5,fpc_6,fpc_7,...,fpc_20,fpc_21,fpc_22,fpc_23,fpc_24,fpc_25,fpc_26,fpc_27,fpc_28,total_trolleys
0,2021-01-04,Aalsmeer,BL,287,89,94,0,0,126,0,...,0,0,3481,1525,51,112,21,989,0,8964
1,2021-01-04,Aalsmeer,PL,0,0,0,9,550,0,54,...,261,120,0,0,0,0,0,0,22,2010
2,2021-01-04,Naaldwijk,BL,106,55,34,0,0,60,0,...,0,0,942,783,8,56,0,214,0,4150
3,2021-01-04,Naaldwijk,PL,0,0,0,5,444,0,45,...,216,92,0,0,0,0,0,0,9,1523
4,2021-01-04,Rijnsburg,BL,51,59,5,1,60,72,3,...,24,4,570,670,5,5,1,436,0,2491

## Checking the data sets for missing and negative values

In [6]:
df_fust.isna().sum()

Date               0
fustcode           0
number_received    0
number_issued      0
dtype: int64

In [7]:
numeric_cols_fust = df_fust.select_dtypes(include='number')  # selects only numeric columns
(numeric_cols_fust < 0).sum()

number_received    3
number_issued      0
dtype: int64

In [8]:
df_fust = df_fust[(numeric_cols_fust >= 0).all(axis=1)]

In [9]:
df_trol.isna().sum()

auctiondate       0
location          0
crop_type         0
fpc_1             0
fpc_2             0
fpc_3             0
fpc_4             0
fpc_5             0
fpc_6             0
fpc_7             0
fpc_8             0
fpc_9             0
fpc_10            0
fpc_11            0
fpc_12            0
fpc_13            0
fpc_14            0
fpc_15            0
fpc_16            0
fpc_17            0
fpc_18            0
fpc_19            0
fpc_20            0
fpc_21            0
fpc_22            0
fpc_23            0
fpc_24            0
fpc_25            0
fpc_26            0
fpc_27            0
fpc_28            0
total_trolleys    0
dtype: int64

In [10]:
numeric_cols_trol = df_trol.select_dtypes(include='number')  # selects only numeric columns
(numeric_cols_trol < 0).sum()

fpc_1             0
fpc_2             0
fpc_3             0
fpc_4             0
fpc_5             0
fpc_6             0
fpc_7             0
fpc_8             0
fpc_9             0
fpc_10            0
fpc_11            0
fpc_12            0
fpc_13            0
fpc_14            0
fpc_15            0
fpc_16            0
fpc_17            0
fpc_18            0
fpc_19            0
fpc_20            0
fpc_21            0
fpc_22            0
fpc_23            0
fpc_24            0
fpc_25            0
fpc_26            0
fpc_27            0
fpc_28            0
total_trolleys    0
dtype: int64

In [11]:
df_auc.isna().sum()

date                      0
logistieke location id    0
crop_type                 0
fpc_index                 0
cropgroupcode_coded       0
productgroupcode_coded    0
country of origin iso     0
sales value id            0
total_transactions        0
total_items_sold          0
total_package             0
total_revenue             0
avg_price_per_item        0
dtype: int64

In [12]:
numeric_cols_auc = df_auc.select_dtypes(include='number')  # selects only numeric columns
(numeric_cols_auc < 0).sum()

logistieke location id    0
cropgroupcode_coded       0
productgroupcode_coded    0
sales value id            0
total_transactions        0
total_items_sold          0
total_package             0
total_revenue             0
avg_price_per_item        0
dtype: int64

In [13]:
df_dir.isna().sum()

date                           0
logistieke location id    811531
crop_type                      0
fpc_index                      0
cropgroupcode_coded            0
productgroupcode_coded         0
country of origin iso          3
sales value id                 0
total_transactions             0
total_items_sold               0
total_package                  0
total_revenue                  0
avg_price_per_item             0
dtype: int64

In [14]:
df_dir = df_dir.dropna(subset=df_dir.columns.difference(['logistieke location id']))

In [15]:
numeric_cols_dir = df_dir.select_dtypes(include='number')  # selects only numeric columns
(numeric_cols_dir < 0).sum()

logistieke location id      0
cropgroupcode_coded         0
productgroupcode_coded      0
sales value id              0
total_transactions          0
total_items_sold          277
total_package             317
total_revenue             327
avg_price_per_item         63
dtype: int64

In [16]:
numeric_cols_dir = numeric_cols_dir.drop(columns=['logistieke location id'])
df_dir = df_dir[(numeric_cols_dir >= 0).all(axis=1)]

## Merging the data sets

In [17]:
df_fust_new = (
    df_fust
    .groupby("Date", as_index=False)
    .agg(
        # SCALE
        total_issued=("number_issued", "sum"),
        total_returned=("number_received", "sum"),

        # ACTIVITY
        n_fusts=("number_issued", "size"),

        # CENTRAL TENDENCY
        issued_mean=("number_issued", "mean"),
        returned_mean=("number_received", "mean"),

        # DISPERSION
        issued_std=("number_issued", "std"),
        returned_std=("number_received", "std"),

        # SHAPE / IMBALANCE
        issued_max=("number_issued", "max"),
        issued_min=("number_issued", "min"),
        returned_max=("number_received", "max"),
        returned_min=("number_received", "min"),
    )
)

numeric_cols_fust = df_fust_new.select_dtypes(include="number").columns
df_fust_new[numeric_cols_fust] = df_fust_new[numeric_cols_fust].round(2)

In [18]:
df_fust_new.head()

,Date,total_issued,total_returned,n_fusts,issued_mean,returned_mean,issued_std,returned_std,issued_max,issued_min,returned_max,returned_min
0,2021-01-02,255439.0,233.0,24,10643.29,9.71,13981.56,32.45,48666.0,1.0,132.0,0.0
1,2021-01-03,137185.0,0.0,20,6859.25,0.00,8265.16,0.00,26880.0,2.0,0.0,0.0
2,2021-01-04,621375.0,771606.0,76,8175.99,10152.71,22308.28,31551.09,133092.0,0.0,187296.0,0.0
3,2021-01-05,476367.0,588517.0,68,7005.40,8654.66,17723.94,26040.12,103985.0,0.0,144481.0,0.0
4,2021-01-06,442390.0,553905.0,72,6144.31,7693.12,16357.14,23919.75,95733.0,0.0,141684.0,0.0

In [19]:
df_trol["location"] = df_trol["location"].astype("category")
df_trol["crop_type"] = df_trol["crop_type"].astype("category")

df_trol_new = (
    df_trol
    .drop(columns=["total_trolleys"])
    .melt(
        id_vars=df_trol.columns[:3],
        var_name="fpc_code",
        value_name="trolleys"
    )
)

In [20]:
df_trol_new.head()

  auctiondate   location crop_type fpc_code  trolleys
0  2021-01-04   Aalsmeer        BL    fpc_1       287
1  2021-01-04   Aalsmeer        PL    fpc_1         0
2  2021-01-04  Naaldwijk        BL    fpc_1       106
3  2021-01-04  Naaldwijk        PL    fpc_1         0
4  2021-01-04  Rijnsburg        BL    fpc_1        51

In [21]:
df_auc_new = (
    df_auc
    .drop(columns=[
        "cropgroupcode_coded",
        "productgroupcode_coded",
        "country of origin iso",
        "avg_price_per_item"
    ])
    .groupby(
        ["date", "logistieke location id", "crop_type", "fpc_index", "sales value id"],
        as_index=False
    )
    .agg(
        # SCALE
        total_transactions=("total_transactions", "sum"),
        total_items_sold=("total_items_sold", "sum"),
        total_package=("total_package", "sum"),
        total_revenue=("total_revenue", "sum"),

        # ACTIVITY / GRANULARITY
        n_rows=("total_transactions", "size"),

        # CENTRAL TENDENCY (ROW-LEVEL)
        transactions_mean=("total_transactions", "mean"),
        items_sold_mean=("total_items_sold", "mean"),
        package_mean=("total_package", "mean"),
        revenue_mean=("total_revenue", "mean"),

        # DISPERSION
        transactions_std=("total_transactions", "std"),
        items_sold_std=("total_items_sold", "std"),
        revenue_std=("total_revenue", "std"),
    )
)

df_auc_new["avg_price_per_item"] = (
    df_auc_new["total_revenue"] / df_auc_new["total_items_sold"]
).replace([np.inf, -np.inf], np.nan).round(2)

df_auc_new["avg_revenue_per_transaction"] = (
    df_auc_new["total_revenue"] / df_auc_new["total_transactions"]
).replace([np.inf, -np.inf], np.nan).round(2)

df_auc_new["transactions_cv"] = (
    df_auc_new["transactions_std"] / df_auc_new["transactions_mean"]
)

df_auc_new["items_sold_cv"] = (
    df_auc_new["items_sold_std"] / df_auc_new["items_sold_mean"]
)

In [22]:
id_cols = [
    "date",
    "logistieke location id",
    "crop_type",
    "fpc_index",
    "sales value id"
]

value_cols = df_auc_new.columns.difference(id_cols)

df_auc_new = (
    df_auc_new
    .melt(
        id_vars=id_cols,
        value_vars=value_cols,
        var_name="feature",
        value_name="value"
    )
)

df_auc_new = (
    df_auc_new
    .pivot_table(
        index=["date", "logistieke location id", "crop_type", "fpc_index"],
        columns=["sales value id", "feature"],
        values="value",
        aggfunc="sum"   # explicit and safe
    )
)

df_auc_new.columns = [
    f"{sales_value}_{feature}"
    for sales_value, feature in df_auc_new.columns
]

df_auc_new = df_auc_new.reset_index()

df_auc_new["logistieke location id"] = (
    df_auc_new["logistieke location id"]
    .replace({
        1: "Aalsmeer",
        2: "Naaldwijk",
        3: "Rijnsburg"
    })
    .astype("category")
)

df_auc_new["crop_type"] = df_auc_new["crop_type"].astype("category")

numeric_cols_auc = df_auc_new.select_dtypes(include="number").columns
df_auc_new[numeric_cols_auc] = df_auc_new[numeric_cols_auc].fillna(0)

df_auc_new[numeric_cols_auc] = df_auc_new[numeric_cols_auc].round(2)

In [23]:
df_auc_new.head()

,date,logistieke location id,crop_type,fpc_index,1_avg_price_per_item,1_avg_revenue_per_transaction,1_items_sold_cv,1_items_sold_mean,1_items_sold_std,1_n_rows,...,5_package_mean,5_revenue_mean,5_revenue_std,5_total_items_sold,5_total_package,5_total_revenue,5_total_transactions,5_transactions_cv,5_transactions_mean,5_transactions_std
0,2021-01-04,Aalsmeer,BL,fpc_1,0.24,26.44,1.76,19405.00,34183.01,4.0,...,954.00,15211.60,28804.38,312850.0,4770.0,76058.00,1237.0,1.98,247.40,490.67
1,2021-01-04,Aalsmeer,BL,fpc_10,0.22,27.34,1.38,1597.04,2205.25,52.0,...,65.89,1149.03,1366.57,356840.0,4085.0,71239.65,1114.0,0.94,17.97,16.87
2,2021-01-04,Aalsmeer,BL,fpc_12,0.21,38.28,0.29,24875.00,7318.56,2.0,...,1133.50,26833.75,4044.30,228150.0,2267.0,53667.50,593.0,0.16,296.50,48.79
3,2021-01-04,Aalsmeer,BL,fpc_13,0.15,17.69,1.90,14248.57,27102.66,7.0,...,966.62,8977.44,16389.07,516440.0,7733.0,71819.50,1938.0,1.86,242.25,451.05
4,2021-01-04,Aalsmeer,BL,fpc_16,0.75,61.81,1.13,7338.57,8264.03,7.0,...,807.50,26473.34,35836.41,282270.0,6460.0,211786.70,1260.0,1.08,157.50,169.51

In [24]:
df_dir_3 = df_dir[df_dir["sales value id"] == 3]
df_dir_4 = df_dir[df_dir["sales value id"] == 4]

In [25]:
df_dir_3_new = (
    df_dir_3
    .drop(columns=[
        "cropgroupcode_coded",
        "productgroupcode_coded",
        "country of origin iso",
        "avg_price_per_item"
    ])
    .groupby(
        ["date", "logistieke location id", "crop_type", "fpc_index", "sales value id"],
        as_index=False
    )
    .agg(
        # SCALE
        total_transactions=("total_transactions", "sum"),
        total_items_sold=("total_items_sold", "sum"),
        total_package=("total_package", "sum"),
        total_revenue=("total_revenue", "sum"),

        # ACTIVITY / GRANULARITY
        n_rows=("total_transactions", "size"),

        # CENTRAL TENDENCY (ROW-LEVEL)
        transactions_mean=("total_transactions", "mean"),
        items_sold_mean=("total_items_sold", "mean"),
        package_mean=("total_package", "mean"),
        revenue_mean=("total_revenue", "mean"),

        # DISPERSION
        transactions_std=("total_transactions", "std"),
        items_sold_std=("total_items_sold", "std"),
        revenue_std=("total_revenue", "std"),
    )
)

df_dir_3_new["avg_price_per_item"] = (
    df_dir_3_new["total_revenue"] / df_dir_3_new["total_items_sold"]
).replace([np.inf, -np.inf], np.nan).round(2)


df_dir_3_new["avg_revenue_per_transaction"] = (
    df_dir_3_new["total_revenue"] / df_dir_3_new["total_transactions"]
).replace([np.inf, -np.inf], np.nan).round(2)

df_dir_3_new["transactions_cv"] = (
    df_dir_3_new["transactions_std"] / df_dir_3_new["transactions_mean"]
)

df_dir_3_new["items_sold_cv"] = (
    df_dir_3_new["items_sold_std"] / df_dir_3_new["items_sold_mean"]
)

In [26]:
id_cols = [
    "date",
    "logistieke location id",
    "crop_type",
    "fpc_index",
    "sales value id"
]

value_cols = df_dir_3_new.columns.difference(id_cols)

df_dir_3_new = (
    df_dir_3_new
    .melt(
        id_vars=id_cols,
        value_vars=value_cols,
        var_name="feature",
        value_name="value"
    )
)

df_dir_3_new = (
    df_dir_3_new
    .pivot_table(
        index=["date", "logistieke location id", "crop_type", "fpc_index"],
        columns=["sales value id", "feature"],
        values="value",
        aggfunc="sum"   # explicit and safe
    )
)

df_dir_3_new.columns = [
    f"{sales_value}_{feature}"
    for sales_value, feature in df_dir_3_new.columns
]

df_dir_3_new = df_dir_3_new.reset_index()

numeric_cols_dir_3 = df_dir_3_new.select_dtypes(include="number").columns
df_dir_3_new[numeric_cols_dir_3] = df_dir_3_new[numeric_cols_dir_3].fillna(0)

df_dir_3_new[numeric_cols_dir_3] = df_dir_3_new[numeric_cols_dir_3].round(2)

In [27]:
df_dir_4_new = (
    df_dir_4
    .drop(columns=[
        "cropgroupcode_coded",
        "productgroupcode_coded",
        "country of origin iso",
        "avg_price_per_item",
        "logistieke location id"
    ])
    .groupby(
        ["date", "crop_type", "fpc_index", "sales value id"],
        as_index=False
    )
    .agg(
        # SCALE
        total_transactions=("total_transactions", "sum"),
        total_items_sold=("total_items_sold", "sum"),
        total_package=("total_package", "sum"),
        total_revenue=("total_revenue", "sum"),

        # ACTIVITY / GRANULARITY
        n_rows=("total_transactions", "size"),

        # CENTRAL TENDENCY (ROW-LEVEL)
        transactions_mean=("total_transactions", "mean"),
        items_sold_mean=("total_items_sold", "mean"),
        package_mean=("total_package", "mean"),
        revenue_mean=("total_revenue", "mean"),

        # DISPERSION
        transactions_std=("total_transactions", "std"),
        items_sold_std=("total_items_sold", "std"),
        revenue_std=("total_revenue", "std"),
    )
)

df_dir_4_new["avg_price_per_item"] = (
    df_dir_4_new["total_revenue"] / df_dir_4_new["total_items_sold"]
).replace([np.inf, -np.inf], np.nan).round(2)


df_dir_4_new["avg_revenue_per_transaction"] = (
    df_dir_4_new["total_revenue"] / df_dir_4_new["total_transactions"]
).replace([np.inf, -np.inf], np.nan).round(2)

df_dir_4_new["transactions_cv"] = (
    df_dir_4_new["transactions_std"] / df_dir_4_new["transactions_mean"]
)

df_dir_4_new["items_sold_cv"] = (
    df_dir_4_new["items_sold_std"] / df_dir_4_new["items_sold_mean"]
)

In [28]:
id_cols = [
    "date",
    "crop_type",
    "fpc_index",
    "sales value id"
]

value_cols = df_dir_4_new.columns.difference(id_cols)

df_dir_4_new = (
    df_dir_4_new
    .melt(
        id_vars=id_cols,
        value_vars=value_cols,
        var_name="feature",
        value_name="value"
    )
)

df_dir_4_new = (
    df_dir_4_new
    .pivot_table(
        index=["date", "crop_type", "fpc_index"],
        columns=["sales value id", "feature"],
        values="value",
        aggfunc="sum"   # explicit and safe
    )
)

df_dir_4_new.columns = [
    f"{sales_value}_{feature}"
    for sales_value, feature in df_dir_4_new.columns
]

df_dir_4_new = df_dir_4_new.reset_index()

numeric_cols_dir_4 = df_dir_4_new.select_dtypes(include="number").columns
df_dir_4_new[numeric_cols_dir_4] = df_dir_4_new[numeric_cols_dir_4].fillna(0)

df_dir_4_new[numeric_cols_dir_4] = df_dir_4_new[numeric_cols_dir_4].round(2)

In [29]:
df_dir_new = df_dir_3_new.merge(
    df_dir_4_new,
    on=["date", "crop_type", "fpc_index"],
    how="outer"
)
df_dir_new.isna().sum()

date                                0
logistieke location id           1927
crop_type                           0
fpc_index                           0
3_avg_price_per_item             1927
3_avg_revenue_per_transaction    1927
3_items_sold_cv                  1927
3_items_sold_mean                1927
3_items_sold_std                 1927
3_n_rows                         1927
3_package_mean                   1927
3_revenue_mean                   1927
3_revenue_std                    1927
3_total_items_sold               1927
3_total_package                  1927
3_total_revenue                  1927
3_total_transactions             1927
3_transactions_cv                1927
3_transactions_mean              1927
3_transactions_std               1927
4_avg_price_per_item               59
4_avg_revenue_per_transaction      59
4_items_sold_cv                    59
4_items_sold_mean                  59
4_items_sold_std                   59
4_n_rows                           59
4_package_mean                     59
4_revenue_mean                     59
4_revenue_std                      59
4_total_items_sold                 59
4_total_package                    59
4_total_revenue                    59
4_total_transactions               59
4_transactions_cv                  59
4_transactions_mean                59
4_transactions_std                 59
dtype: int64

In [30]:
df_dir_new = df_dir_new.dropna(subset=["logistieke location id"])

df_dir_new["logistieke location id"] = df_dir_new["logistieke location id"].replace({
    1: "Aalsmeer",
    2: "Naaldwijk",
    3: "Rijnsburg"
}).astype("category")

df_dir_new["crop_type"] = df_dir_new["crop_type"].astype("category")


numeric_cols_dir = df_dir_new.select_dtypes(include="number").columns
df_dir_new[numeric_cols_dir] = df_dir_new[numeric_cols_dir].fillna(0)

df_dir_new.isna().sum()

date                             0
logistieke location id           0
crop_type                        0
fpc_index                        0
3_avg_price_per_item             0
3_avg_revenue_per_transaction    0
3_items_sold_cv                  0
3_items_sold_mean                0
3_items_sold_std                 0
3_n_rows                         0
3_package_mean                   0
3_revenue_mean                   0
3_revenue_std                    0
3_total_items_sold               0
3_total_package                  0
3_total_revenue                  0
3_total_transactions             0
3_transactions_cv                0
3_transactions_mean              0
3_transactions_std               0
4_avg_price_per_item             0
4_avg_revenue_per_transaction    0
4_items_sold_cv                  0
4_items_sold_mean                0
4_items_sold_std                 0
4_n_rows                         0
4_package_mean                   0
4_revenue_mean                   0
4_revenue_std                    0
4_total_items_sold               0
4_total_package                  0
4_total_revenue                  0
4_total_transactions             0
4_transactions_cv                0
4_transactions_mean              0
4_transactions_std               0
dtype: int64

In [31]:
new1 = df_dir_new.merge(
    df_auc_new,
    on=["date", "crop_type", "fpc_index", "logistieke location id"],
    how="outer"
)

new1.isna().sum()

date                          0
logistieke location id        0
crop_type                     0
fpc_index                     0
3_avg_price_per_item      11566
                          ...
5_total_revenue            2262
5_total_transactions       2262
5_transactions_cv          2262
5_transactions_mean        2262
5_transactions_std         2262
Length: 68, dtype: int64

In [32]:
numeric_cols_new1 = new1.select_dtypes(include="number").columns
new1[numeric_cols_new1] = new1[numeric_cols_new1].fillna(0)

new1.isna().any().any()

np.False_

In [33]:
new1["has_dir"] = new1.filter(like="_dir").notna().any(axis=1).astype(int)
new1["has_auc"] = new1.filter(like="_auc").notna().any(axis=1).astype(int)

In [34]:
new2 = new1.merge(
    df_trol_new,
    left_on=["date", "crop_type", "fpc_index", "logistieke location id"],
    right_on=["auctiondate", "crop_type", "fpc_code", "location"],
    how="inner"
)

In [35]:
merged_df = new2.merge(
    df_fust_new,
    left_on="date",
    right_on="Date",
    how="left"
)

merged_df.isna().sum().sum()

np.int64(0)

In [36]:
merged_df = merged_df.drop(columns=["Date", "auctiondate", "location", "fpc_code"])
merged_df.head()

,date,logistieke location id,crop_type,fpc_index,3_avg_price_per_item,3_avg_revenue_per_transaction,3_items_sold_cv,3_items_sold_mean,3_items_sold_std,3_n_rows,...,total_returned,n_fusts,issued_mean,returned_mean,issued_std,returned_std,issued_max,issued_min,returned_max,returned_min
0,2021-01-04,Aalsmeer,BL,fpc_1,0.21,76.74,1.18,8755.00,10373.26,2.0,...,771606.0,76,8175.99,10152.71,22308.28,31551.09,133092.0,0.0,187296.0,0.0
1,2021-01-04,Naaldwijk,BL,fpc_1,0.00,0.00,0.00,0.00,0.00,0.0,...,771606.0,76,8175.99,10152.71,22308.28,31551.09,133092.0,0.0,187296.0,0.0
2,2021-01-04,Rijnsburg,BL,fpc_1,0.00,0.00,0.00,0.00,0.00,0.0,...,771606.0,76,8175.99,10152.71,22308.28,31551.09,133092.0,0.0,187296.0,0.0
3,2021-01-04,Aalsmeer,BL,fpc_10,0.27,88.19,0.61,1416.67,860.72,3.0,...,771606.0,76,8175.99,10152.71,22308.28,31551.09,133092.0,0.0,187296.0,0.0
4,2021-01-04,Naaldwijk,BL,fpc_10,0.00,0.00,0.00,0.00,0.00,0.0,...,771606.0,76,8175.99,10152.71,22308.28,31551.09,133092.0,0.0,187296.0,0.0

In [37]:
merged_df.shape[0]

72080

In [38]:
merged_df["trolleys"] = merged_df.pop("trolleys")
merged_df.columns

Index(['date', 'logistieke location id', 'crop_type', 'fpc_index',
       '3_avg_price_per_item', '3_avg_revenue_per_transaction',
       '3_items_sold_cv', '3_items_sold_mean', '3_items_sold_std', '3_n_rows',
       '3_package_mean', '3_revenue_mean', '3_revenue_std',
       '3_total_items_sold', '3_total_package', '3_total_revenue',
       '3_total_transactions', '3_transactions_cv', '3_transactions_mean',
       '3_transactions_std', '4_avg_price_per_item',
       '4_avg_revenue_per_transaction', '4_items_sold_cv', '4_items_sold_mean',
       '4_items_sold_std', '4_n_rows', '4_package_mean', '4_revenue_mean',
       '4_revenue_std', '4_total_items_sold', '4_total_package',
       '4_total_revenue', '4_total_transactions', '4_transactions_cv',
       '4_transactions_mean', '4_transactions_std', '1_avg_price_per_item',
       '1_avg_revenue_per_transaction', '1_items_sold_cv', '1_items_sold_mean',
       '1_items_sold_std', '1_n_rows', '1_package_mean', '1_revenue_mean',
       '1_revenue_std', '1_total_items_sold', '1_total_package',
       '1_total_revenue', '1_total_transactions', '1_transactions_cv',
       '1_transactions_mean', '1_transactions_std', '5_avg_price_per_item',
       '5_avg_revenue_per_transaction', '5_items_sold_cv', '5_items_sold_mean',
       '5_items_sold_std', '5_n_rows', '5_package_mean', '5_revenue_mean',
       '5_revenue_std', '5_total_items_sold', '5_total_package',
       '5_total_revenue', '5_total_transactions', '5_transactions_cv',
       '5_transactions_mean', '5_transactions_std', 'has_dir', 'has_auc',
       'total_issued', 'total_returned', 'n_fusts', 'issued_mean',
       'returned_mean', 'issued_std', 'returned_std', 'issued_max',
       'issued_min', 'returned_max', 'returned_min', 'trolleys'],
      dtype='object')

## Lagging the predictors

In [39]:
merged_df["date"] = pd.to_datetime(merged_df["date"])
merged_df = merged_df.sort_values(["logistieke location id", "crop_type", "fpc_index", "date"]).reset_index(drop=True)

In [40]:
Z = merged_df.columns[4:].tolist()
lags = [1,2,3,4,5]

In [41]:
lagged_cols = {}

g = merged_df.groupby(["logistieke location id", "crop_type", "fpc_index"], observed=True)

for lag in lags:
    shifted = g[Z].shift(lag)
    shifted.columns = [f"{col}_lag_{lag}" for col in Z]
    lagged_cols[lag] = shifted

In [42]:
lagged_df = pd.concat(lagged_cols.values(), axis=1)
merged_df = pd.concat([merged_df, lagged_df], axis=1)

merged_df = merged_df.drop(columns=Z[:-1])

In [43]:
entity_cols = ["logistieke location id", "crop_type", "fpc_index"]
date_col = "date"

lagged_feature_cols = [
    c for c in merged_df.columns
    if c not in entity_cols + [date_col]
]

merged_df[lagged_feature_cols] = (
    merged_df
        .sort_values(date_col)
        .groupby(entity_cols, observed=True)[lagged_feature_cols]
        .bfill()
)

In [44]:
merged_df.columns

Index(['date', 'logistieke location id', 'crop_type', 'fpc_index', 'trolleys',
       '3_avg_price_per_item_lag_1', '3_avg_revenue_per_transaction_lag_1',
       '3_items_sold_cv_lag_1', '3_items_sold_mean_lag_1',
       '3_items_sold_std_lag_1',
       ...
       'n_fusts_lag_5', 'issued_mean_lag_5', 'returned_mean_lag_5',
       'issued_std_lag_5', 'returned_std_lag_5', 'issued_max_lag_5',
       'issued_min_lag_5', 'returned_max_lag_5', 'returned_min_lag_5',
       'trolleys_lag_5'],
      dtype='object', length=395)

In [45]:
merged_df.isna().sum().sum()

np.int64(0)

In [46]:
merged_df.head()

,date,logistieke location id,crop_type,fpc_index,trolleys,3_avg_price_per_item_lag_1,3_avg_revenue_per_transaction_lag_1,3_items_sold_cv_lag_1,3_items_sold_mean_lag_1,3_items_sold_std_lag_1,...,n_fusts_lag_5,issued_mean_lag_5,returned_mean_lag_5,issued_std_lag_5,returned_std_lag_5,issued_max_lag_5,issued_min_lag_5,returned_max_lag_5,returned_min_lag_5,trolleys_lag_5
0,2021-01-04,Aalsmeer,BL,fpc_1,287,0.21,76.74,1.18,8755.00,10373.26,...,76.0,8175.99,10152.71,22308.28,31551.09,133092.0,0.0,187296.0,0.0,287.0
1,2021-01-05,Aalsmeer,BL,fpc_1,113,0.21,76.74,1.18,8755.00,10373.26,...,76.0,8175.99,10152.71,22308.28,31551.09,133092.0,0.0,187296.0,0.0,287.0
2,2021-01-06,Aalsmeer,BL,fpc_1,97,0.21,156.01,0.87,15536.67,13520.69,...,76.0,8175.99,10152.71,22308.28,31551.09,133092.0,0.0,187296.0,0.0,287.0
3,2021-01-07,Aalsmeer,BL,fpc_1,69,0.27,185.41,0.86,13285.00,11490.49,...,76.0,8175.99,10152.71,22308.28,31551.09,133092.0,0.0,187296.0,0.0,287.0
4,2021-01-08,Aalsmeer,BL,fpc_1,143,0.24,247.17,0.90,11285.00,10161.12,...,76.0,8175.99,10152.71,22308.28,31551.09,133092.0,0.0,187296.0,0.0,287.0

In [47]:
merged_df = merged_df.assign(
    curr_year=merged_df["date"].dt.year,
    curr_month=merged_df["date"].dt.month,
    curr_weekday=merged_df["date"].dt.weekday,
    curr_weekofyear=merged_df["date"].dt.isocalendar().week
)

In [48]:
merged_df.to_csv("merged_with_lags_df.csv", index=False)

## Expanding the time horizon

In [49]:
H = 50

# Create horizon dataframe: 1..50
horizons = pd.DataFrame({
    "horizon": np.arange(1, H + 1)
})

# Cross join to repeat each row 50 times
df_expanded = (
    merged_df
    .merge(horizons, how="cross")
)

In [50]:
df_expanded["target_date"] = pd.NaT

for h in range(1, H + 1):
    mask = df_expanded["horizon"] == h
    df_expanded.loc[mask, "target_date"] = (
        df_expanded.loc[mask, "date"] + BDay(h)
    )
df_expanded.head()

,date,logistieke location id,crop_type,fpc_index,trolleys,3_avg_price_per_item_lag_1,3_avg_revenue_per_transaction_lag_1,3_items_sold_cv_lag_1,3_items_sold_mean_lag_1,3_items_sold_std_lag_1,...,issued_min_lag_5,returned_max_lag_5,returned_min_lag_5,trolleys_lag_5,curr_year,curr_month,curr_weekday,curr_weekofyear,horizon,target_date
0,2021-01-04,Aalsmeer,BL,fpc_1,287,0.21,76.74,1.18,8755.0,10373.26,...,0.0,187296.0,0.0,287.0,2021,1,0,1,1,2021-01-05
1,2021-01-04,Aalsmeer,BL,fpc_1,287,0.21,76.74,1.18,8755.0,10373.26,...,0.0,187296.0,0.0,287.0,2021,1,0,1,2,2021-01-06
2,2021-01-04,Aalsmeer,BL,fpc_1,287,0.21,76.74,1.18,8755.0,10373.26,...,0.0,187296.0,0.0,287.0,2021,1,0,1,3,2021-01-07
3,2021-01-04,Aalsmeer,BL,fpc_1,287,0.21,76.74,1.18,8755.0,10373.26,...,0.0,187296.0,0.0,287.0,2021,1,0,1,4,2021-01-08
4,2021-01-04,Aalsmeer,BL,fpc_1,287,0.21,76.74,1.18,8755.0,10373.26,...,0.0,187296.0,0.0,287.0,2021,1,0,1,5,2021-01-11

In [51]:
target_lookup = merged_df[[
    "logistieke location id",
    "crop_type",
    "fpc_index",
    "date",
    "trolleys"
]].rename(columns={
    "date": "target_date",
    "trolleys": "trolleys_target"
})

In [52]:
df_supervised = df_expanded.merge(
    target_lookup,
    on=["logistieke location id", "crop_type", "fpc_index", "target_date"],
    how="left"
)

In [53]:
df_supervised = df_supervised.dropna(subset=["trolleys_target"])

In [54]:
df_supervised["horizon"] = df_supervised["horizon"].astype("int8")

In [55]:
df_supervised.groupby("horizon")["trolleys_target"].count().head()

horizon
1    69777
2    69605
3    69576
4    69565
5    69678
Name: trolleys_target, dtype: int64

In [56]:
df_supervised = df_supervised[df_supervised["curr_weekday"] == 1]

## Adding time features

In [57]:
df_supervised = df_supervised.assign(
    target_year=df_supervised["target_date"].dt.year,
    target_month=df_supervised["target_date"].dt.month,
    target_weekday=df_supervised["target_date"].dt.weekday,
    target_weekofyear=df_supervised["target_date"].dt.isocalendar().week
)

In [58]:
df_supervised["is_busy_period"] = df_supervised["target_month"].isin([2, 3, 4, 5]).astype(int)

In [59]:
holidays_df = df_supervised

In [60]:
valentine = pd.to_datetime(df_supervised["target_year"].astype(str) + "-02-14")
holidays_df["is_valentine_window"] = (
    (df_supervised["target_date"] >= (valentine - pd.Timedelta(days=21))) &
    (df_supervised["target_date"] <= valentine)
).astype(int)

In [61]:
def mothers_day_nl(year: int) -> pd.Timestamp:
    # all days in May
    may = pd.date_range(f"{year}-05-01", f"{year}-05-31", freq="D")
    # Sundays (Monday=0 ... Sunday=6)
    sundays = may[may.weekday == 6]
    # 2nd Sunday
    return sundays[1]
    
holidays_df["target_date"] = pd.to_datetime(holidays_df["target_date"]).dt.normalize()

# Compute Mother's Day date for each row's year
md_nl = holidays_df["target_year"].map(lambda y: mothers_day_nl(int(y)))

# Window: 7 days before + Mother's Day
holidays_df["is_mothersday_nl_window"] = (
    (holidays_df["target_date"] >= (md_nl - pd.Timedelta(days=7))) &
    (holidays_df["target_date"] <= md_nl)
).astype(int)

In [62]:
# March 8 of each row's year
womens_day = pd.to_datetime(holidays_df["target_year"].astype(str) + "-03-08")

# International Womenâ€™s Day: 2 weeks before up to March 8
holidays_df["is_int_womensday_window"] = (
    (holidays_df["target_date"] >= (womens_day - pd.Timedelta(days=14))) &
    (holidays_df["target_date"] <= womens_day)
).astype(int)

In [63]:
# Womenâ€™s Day in Russia window: 10 days before up to March 8
holidays_df["is_rus_womensday_window"] = (
    (holidays_df["target_date"] >= (womens_day - pd.Timedelta(days=10))) &
    (holidays_df["target_date"] <= womens_day)
).astype(int)

In [64]:
# Create King's Day date for each row's year
kings_day = pd.to_datetime(holidays_df["target_date"].dt.year.astype(str) + "-04-27")

# window: 1 day before and 1 day after
holidays_df["is_kingsday_window"] = (
    (holidays_df["target_date"] >= (kings_day - pd.Timedelta(days=1))) &
    (holidays_df["target_date"] <= (kings_day + pd.Timedelta(days=1)))
).astype(int)

In [65]:
# Create Christmas date for each row's year
christmas= pd.to_datetime(holidays_df["target_date"].dt.year.astype(str) + "-12-25")

# window: 2 days before and 3 days after
holidays_df["is_christmas_window"] = (
    (holidays_df["target_date"] >= (christmas - pd.Timedelta(days=2))) &
    (holidays_df["target_date"] <= (christmas + pd.Timedelta(days=3)))
).astype(int)

In [66]:
# Create New Year's date for each row's year
new_year= pd.to_datetime(holidays_df["target_date"].dt.year.astype(str) + "-01-01")

# window: 1 day after
holidays_df["is_newyear_window"] = (
    (holidays_df["target_date"] >= new_year ) &
    (holidays_df["target_date"] <= (new_year + pd.Timedelta(days=1)))
).astype(int)

In [67]:
# Create All Soul's Day date for each row's year
allsouls_day= pd.to_datetime(holidays_df["target_date"].dt.year.astype(str) + "-11-02")

# window: 10 days before
holidays_df["is_allsoulsday_window"] = (
    (holidays_df["target_date"] >= (allsouls_day  - pd.Timedelta(days=2))) &
    (holidays_df["target_date"] <= allsouls_day)
).astype(int)

In [68]:
easter_df = pd.DataFrame({
    "year": [2021, 2022, 2023, 2024],
    "easter_sunday": pd.to_datetime([
        "2021-04-04", "2022-04-17", "2023-04-09", "2024-03-31"
    ]),
    "easter_monday": pd.to_datetime([
        "2021-04-05", "2022-04-18", "2023-04-10", "2024-04-01"
    ])})

easter_df

   year easter_sunday easter_monday
0  2021    2021-04-04    2021-04-05
1  2022    2022-04-17    2022-04-18
2  2023    2023-04-09    2023-04-10
3  2024    2024-03-31    2024-04-01

In [69]:
easter_monday_lookup = easter_df.set_index("year")["easter_monday"]
easter_monday_for_row = holidays_df["target_year"].map(easter_monday_lookup)

holidays_df["is_easter_monday_window"] = (
    (holidays_df["target_date"] >= easter_monday_for_row - pd.Timedelta(days=3)) &
    (holidays_df["target_date"] <= easter_monday_for_row + pd.Timedelta(days=2))
).astype(int)

In [70]:
# Whit Monday = Easter Sunday + 50 days
easter_df["whit_monday"] = easter_df["easter_sunday"] + pd.Timedelta(days=50)

easter_df

   year easter_sunday easter_monday whit_monday
0  2021    2021-04-04    2021-04-05  2021-05-24
1  2022    2022-04-17    2022-04-18  2022-06-06
2  2023    2023-04-09    2023-04-10  2023-05-29
3  2024    2024-03-31    2024-04-01  2024-05-20

In [71]:
whit_lookup = easter_df.set_index("year")["whit_monday"]
whit_monday_for_row = holidays_df["target_year"].map(whit_lookup)

holidays_df["is_whit_monday_window"] = (
    (holidays_df["target_date"] >= whit_monday_for_row - pd.Timedelta(days=3)) &
    (holidays_df["target_date"] <= whit_monday_for_row + pd.Timedelta(days=2))
).astype(int)

In [72]:
# Ascension Day = Easter Sunday + 40 days
easter_df["ascension_day"] = easter_df["easter_sunday"] + pd.Timedelta(days=40)

easter_df

   year easter_sunday easter_monday whit_monday ascension_day
0  2021    2021-04-04    2021-04-05  2021-05-24    2021-05-14
1  2022    2022-04-17    2022-04-18  2022-06-06    2022-05-27
2  2023    2023-04-09    2023-04-10  2023-05-29    2023-05-19
3  2024    2024-03-31    2024-04-01  2024-05-20    2024-05-10

In [73]:
ascension_lookup = easter_df.set_index("year")["ascension_day"]
ascension_for_row = holidays_df["target_year"].map(ascension_lookup)

holidays_df["is_ascension_day_window"] = (
    (holidays_df["target_date"] >= ascension_for_row) &
    (holidays_df["target_date"] <= ascension_for_row + pd.Timedelta(days=1))
).astype(int)

In [74]:
# year -> Easter Sunday lookup
easter_lookup = easter_df.set_index("year")["easter_sunday"]

def mothers_day_fr(year: int) -> pd.Timestamp:
    # last Sunday of May
    may = pd.date_range(f"{year}-05-01", f"{year}-05-31", freq="D")
    last_sunday_may = may[may.weekday == 6][-1]

    # Whit Sunday = Easter Sunday + 49 days (from easter_df)
    whit_sunday = easter_lookup.loc[year] + pd.Timedelta(days=49)

    # if conflict, move to first Sunday of June
    if last_sunday_may.normalize() == whit_sunday.normalize():
        june = pd.date_range(f"{year}-06-01", f"{year}-06-30", freq="D")
        return june[june.weekday == 6][0]

    return last_sunday_may

# per-row Mother's Day France date
md_fr = holidays_df["target_year"].map(lambda y: mothers_day_fr(int(y)))

# 1 week before window flag
holidays_df["is_mothersday_fr_window"] = (
    (holidays_df["target_date"] >= md_fr - pd.Timedelta(days=7)) &
    (holidays_df["target_date"] <= md_fr)
).astype(int)

In [75]:
# year -> Easter Sunday lookup
easter_lookup = easter_df.set_index("year")["easter_sunday"]

def mothers_day_uk(year: int) -> pd.Timestamp:
    # Mothering Sunday = Easter Sunday - 21 days
    return easter_lookup.loc[year] - pd.Timedelta(days=21)

# per-row UK Mother's Day date
md_uk = holidays_df["target_year"].map(lambda y: mothers_day_uk(int(y)))

# 1 week before window
holidays_df["is_mothersday_uk_window"] = (
    (holidays_df["target_date"] >= md_uk - pd.Timedelta(days=7)) &
    (holidays_df["target_date"] <= md_uk)
).astype(int)

In [76]:
holiday_cols = [
    "is_valentine_window",
    "is_mothersday_nl_window",
    "is_int_womensday_window",
    "is_rus_womensday_window",
    "is_kingsday_window",
    "is_christmas_window",
    "is_newyear_window",
    "is_allsoulsday_window",
    "is_easter_monday_window",
    "is_whit_monday_window",
    "is_ascension_day_window",
    "is_mothersday_fr_window",
    "is_mothersday_uk_window"
]

In [77]:
holidays_df["is_holiday"] = holidays_df[holiday_cols].sum(axis=1) > 0

In [78]:
holidays_df.isna().any().any()

np.False_

In [79]:
test_df = holidays_df[holidays_df["target_year"] == 2024].copy()
len(test_df)

170647

In [80]:
train_df = holidays_df[holidays_df["target_year"] < 2024].copy()
len(train_df)

513649

In [81]:
train_df["target_year"].unique()

array([2021, 2022, 2023], dtype=int32)

In [82]:
test_df["target_year"].unique()

array([2024], dtype=int32)

In [83]:
len(train_df) + len(test_df) == len(holidays_df)

True

In [84]:
holidays_df.to_csv("final_df.csv", index=False)

In [85]:
train_df = train_df.drop(columns="trolleys")

In [86]:
test_df = test_df.drop(columns="trolleys")

In [87]:
train_df.to_csv("train_df.csv", index=False)

In [88]:
test_df.to_csv("test_df.csv", index=False)