In [52]:
import pandas as pd
holidays_only_df =pd.read_csv("holidays_only_df.csv",sep=",")
holidays_only_df.head()

,date,logistieke location id,crop_type,fpc_index,trolleys,3_avg_price_per_item_lag_1,3_avg_revenue_per_transaction_lag_1,3_items_sold_cv_lag_1,3_items_sold_mean_lag_1,3_items_sold_std_lag_1,...,is_rus_womensday_window,is_kingsday_window,is_christmas_window,is_newyear_window,is_allsoulsday_window,is_easter_monday_window,is_whit_monday_window,is_ascension_day_window,is_mothersday_fr_window,is_mothersday_uk_window
0,2021-01-25,Aalsmeer,BL,fpc_1,208,0.27,157.08,1.26,6146.0,7772.52,...,0,0,0,0,0,0,0,0,0,0
1,2021-01-26,Aalsmeer,BL,fpc_1,132,0.24,113.72,1.28,13470.0,17234.47,...,0,0,0,0,0,0,0,0,0,0
2,2021-01-27,Aalsmeer,BL,fpc_1,131,0.25,166.52,1.08,27900.0,29995.47,...,0,0,0,0,0,0,0,0,0,0
3,2021-01-28,Aalsmeer,BL,fpc_1,88,0.24,228.31,1.39,11885.0,16525.09,...,0,0,0,0,0,0,0,0,0,0
4,2021-01-29,Aalsmeer,BL,fpc_1,162,0.24,149.73,0.00,18650.0,0.00,...,0,0,0,0,0,0,0,0,0,0

In [54]:
len(holidays_only_df)

14793

In [30]:
import pandas as pd

test_holidays_only =pd.read_csv("holidays_2024_df.csv",sep=",")
test_holidays_only.head()

,date,logistieke location id,crop_type,fpc_index,trolleys,3_avg_price_per_item_lag_1,3_avg_revenue_per_transaction_lag_1,3_items_sold_cv_lag_1,3_items_sold_mean_lag_1,3_items_sold_std_lag_1,...,is_rus_womensday_window,is_kingsday_window,is_christmas_window,is_newyear_window,is_allsoulsday_window,is_easter_monday_window,is_whit_monday_window,is_ascension_day_window,is_mothersday_fr_window,is_mothersday_uk_window
0,2024-01-02,Aalsmeer,BL,fpc_1,353,0.31,297.50,0.00,3800.0,0.00,...,0,0,0,1,0,0,0,0,0,0
1,2024-01-24,Aalsmeer,BL,fpc_1,149,0.31,156.96,1.06,13960.0,14792.67,...,0,0,0,0,0,0,0,0,0,0
2,2024-01-25,Aalsmeer,BL,fpc_1,114,0.35,153.44,0.00,11430.0,0.00,...,0,0,0,0,0,0,0,0,0,0
3,2024-01-26,Aalsmeer,BL,fpc_1,196,0.28,194.77,0.60,10320.0,6165.97,...,0,0,0,0,0,0,0,0,0,0
4,2024-01-29,Aalsmeer,BL,fpc_1,268,0.33,99.27,0.00,6380.0,0.00,...,0,0,0,0,0,0,0,0,0,0

In [56]:
len(test_holidays_only)

3265

In [33]:
train_holidays_only =pd.read_csv("holidays_till_2023_df.csv",sep=",")
train_holidays_only.head()

,date,logistieke location id,crop_type,fpc_index,trolleys,3_avg_price_per_item_lag_1,3_avg_revenue_per_transaction_lag_1,3_items_sold_cv_lag_1,3_items_sold_mean_lag_1,3_items_sold_std_lag_1,...,is_rus_womensday_window,is_kingsday_window,is_christmas_window,is_newyear_window,is_allsoulsday_window,is_easter_monday_window,is_whit_monday_window,is_ascension_day_window,is_mothersday_fr_window,is_mothersday_uk_window
0,2021-01-25,Aalsmeer,BL,fpc_1,208,0.27,157.08,1.26,6146.0,7772.52,...,0,0,0,0,0,0,0,0,0,0
1,2021-01-26,Aalsmeer,BL,fpc_1,132,0.24,113.72,1.28,13470.0,17234.47,...,0,0,0,0,0,0,0,0,0,0
2,2021-01-27,Aalsmeer,BL,fpc_1,131,0.25,166.52,1.08,27900.0,29995.47,...,0,0,0,0,0,0,0,0,0,0
3,2021-01-28,Aalsmeer,BL,fpc_1,88,0.24,228.31,1.39,11885.0,16525.09,...,0,0,0,0,0,0,0,0,0,0
4,2021-01-29,Aalsmeer,BL,fpc_1,162,0.24,149.73,0.00,18650.0,0.00,...,0,0,0,0,0,0,0,0,0,0

In [58]:
len(train_holidays_only)

11528

In [60]:
no_holidays_df =pd.read_csv("no_holidays_df.csv",sep=",")
no_holidays_df.head()

,date,logistieke location id,crop_type,fpc_index,trolleys,3_avg_price_per_item_lag_1,3_avg_revenue_per_transaction_lag_1,3_items_sold_cv_lag_1,3_items_sold_mean_lag_1,3_items_sold_std_lag_1,...,is_rus_womensday_window,is_kingsday_window,is_christmas_window,is_newyear_window,is_allsoulsday_window,is_easter_monday_window,is_whit_monday_window,is_ascension_day_window,is_mothersday_fr_window,is_mothersday_uk_window
0,2021-01-04,Aalsmeer,BL,fpc_1,287,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
1,2021-01-05,Aalsmeer,BL,fpc_1,113,0.21,76.74,1.18,8755.00,10373.26,...,0,0,0,0,0,0,0,0,0,0
2,2021-01-06,Aalsmeer,BL,fpc_1,97,0.21,156.01,0.87,15536.67,13520.69,...,0,0,0,0,0,0,0,0,0,0
3,2021-01-07,Aalsmeer,BL,fpc_1,69,0.27,185.41,0.86,13285.00,11490.49,...,0,0,0,0,0,0,0,0,0,0
4,2021-01-08,Aalsmeer,BL,fpc_1,143,0.24,247.17,0.90,11285.00,10161.12,...,0,0,0,0,0,0,0,0,0,0

In [62]:
len(no_holidays_df)

57287

In [36]:
test_no_holidays =pd.read_csv("no_holidays_2024_df.csv",sep=",")
test_no_holidays.head()

,date,logistieke location id,crop_type,fpc_index,trolleys,3_avg_price_per_item_lag_1,3_avg_revenue_per_transaction_lag_1,3_items_sold_cv_lag_1,3_items_sold_mean_lag_1,3_items_sold_std_lag_1,...,is_rus_womensday_window,is_kingsday_window,is_christmas_window,is_newyear_window,is_allsoulsday_window,is_easter_monday_window,is_whit_monday_window,is_ascension_day_window,is_mothersday_fr_window,is_mothersday_uk_window
0,2024-01-03,Aalsmeer,BL,fpc_1,170,0.31,161.80,0.89,22405.00,20032.34,...,0,0,0,0,0,0,0,0,0,0
1,2024-01-04,Aalsmeer,BL,fpc_1,139,0.27,166.13,1.06,13066.67,13796.41,...,0,0,0,0,0,0,0,0,0,0
2,2024-01-05,Aalsmeer,BL,fpc_1,213,0.26,165.61,1.40,10120.00,14142.14,...,0,0,0,0,0,0,0,0,0,0
3,2024-01-08,Aalsmeer,BL,fpc_1,280,0.27,101.12,0.00,8700.00,0.00,...,0,0,0,0,0,0,0,0,0,0
4,2024-01-09,Aalsmeer,BL,fpc_1,140,0.31,125.17,0.96,26635.00,25448.77,...,0,0,0,0,0,0,0,0,0,0

In [64]:
len(test_no_holidays)

14521

In [66]:
train_no_holidays =pd.read_csv("no_holidays_till_2023_df.csv",sep=",")
train_no_holidays.head()

,date,logistieke location id,crop_type,fpc_index,trolleys,3_avg_price_per_item_lag_1,3_avg_revenue_per_transaction_lag_1,3_items_sold_cv_lag_1,3_items_sold_mean_lag_1,3_items_sold_std_lag_1,...,is_rus_womensday_window,is_kingsday_window,is_christmas_window,is_newyear_window,is_allsoulsday_window,is_easter_monday_window,is_whit_monday_window,is_ascension_day_window,is_mothersday_fr_window,is_mothersday_uk_window
0,2021-01-04,Aalsmeer,BL,fpc_1,287,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
1,2021-01-05,Aalsmeer,BL,fpc_1,113,0.21,76.74,1.18,8755.00,10373.26,...,0,0,0,0,0,0,0,0,0,0
2,2021-01-06,Aalsmeer,BL,fpc_1,97,0.21,156.01,0.87,15536.67,13520.69,...,0,0,0,0,0,0,0,0,0,0
3,2021-01-07,Aalsmeer,BL,fpc_1,69,0.27,185.41,0.86,13285.00,11490.49,...,0,0,0,0,0,0,0,0,0,0
4,2021-01-08,Aalsmeer,BL,fpc_1,143,0.24,247.17,0.90,11285.00,10161.12,...,0,0,0,0,0,0,0,0,0,0

In [68]:
len(train_no_holidays)

42766

In [123]:
train_holidays_only["year"].unique()

array([2021, 2022, 2023])

In [125]:
test_holidays_only["year"].unique()

array([2024])

In [127]:
train_no_holidays["year"].unique()

array([2021, 2022, 2023])

In [129]:
test_no_holidays["year"].unique()

array([2024])

In [141]:
all_dates_inclholidays = pd.concat(
    [no_holidays_df, holidays_only_df],
    axis=0,
    ignore_index=True
)

In [145]:
len(no_holidays_df) + len(holidays_only_df) == len(all_dates_inclholidays)

True

In [151]:
test_all_dates_inclholidays = pd.concat(
    [test_no_holidays, test_holidays_only],
    axis=0,
    ignore_index=True
)

In [153]:
len(test_no_holidays) + len(test_holidays_only) == len(test_all_dates_inclholidays)

True

In [155]:
train_all_dates_inclholidays = pd.concat(
    [train_no_holidays, train_holidays_only],
    axis=0,
    ignore_index=True
)

In [157]:
len(train_no_holidays) + len(train_holidays_only) == len(train_all_dates_inclholidays)

True

In [159]:
# Holidays-only datasets
holidays_only_df.to_csv("holidays_only_df.csv", index=False)
train_holidays_only.to_csv("train_holidays_only.csv", index=False)
test_holidays_only.to_csv("test_holidays_only.csv", index=False)

# No-holidays datasets
no_holidays_df.to_csv("no_holidays_df.csv", index=False)
train_no_holidays.to_csv("train_no_holidays.csv", index=False)
test_no_holidays.to_csv("test_no_holidays.csv", index=False)

# Holidays-only + No-holidays datasets
all_dates_inclholidays.to_csv("all_dates_inclholidays.csv", index=False)
train_all_dates_inclholidays.to_csv("train_all_dates_inclholidays.csv", index=False)
test_all_dates_inclholidays.to_csv("test_all_dates_inclholidays.csv", index=False)